<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js"></script>

    <title>FastBeauty</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css"th:href="@{/font-awesome/css/font-awesome.min.css}">
		<link rel="stylesheet" href="../static/css/form-elements.css"th:href="@{/css/form-elements.css}">
        <link rel="stylesheet" href="../static/css/style.css"th:href="@{/css/style.css}">
        <link rel="shortcut icon" href="../static/img/Logo/logo1.png" type="image/x-icon" th:href="@{/css/Layout.css}" />
</head>

<body class="login">
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>FastBeauty</strong></h1>
                            <div class="description">
                            	<p>
	                            	<strong>A beleza vai até você</strong>
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                                <div th:if="${param.error}">
                                        <div class="alert alert-danger">
                                            Invalid username or password.
                                        </div>
                                    </div>
                                    <div th:if="${param.logout}">
                                        <div class="alert alert-info">
                                            You have been logged out.
                                        </div>
                                    </div>
                                    <div th:if="${param.cadastroSuccess}">
                                        <div class="alert alert-success">
                                            Cadastro Concluido com sucesso!
                                        </div>
                                    </div>
                        		<div class="form-top-left">
                        		  
                        		<p>Faça seu login para acessar sua conta do FastBeauty</p>
								<p>A beleza nas suas mãos</p>
                        		</div>
                        		<div class="form-top-right">
                        			<img src="assets/img/logo/Logo1.png" alt="FastBeauty">
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <div role="form" class="e-mail-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-e-mail">E-mail</label>
			                        	<input type="text" id="username" name="username" class="form-control" placeholder="Usuário" required="" />
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Senha</label>
			                             <input type="password" id="Password" name="password" class="form-control" placeholder="Senha" required="" />
			                        </div>
			                        <button type="submit" class="btn" onclick = "fazLogin();">Entrar</button>
                                    <button type="submit" class="btn">Registrar</button>
			                    </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <script src="../static/js/cadastroCliente.js"></script>
</body>
</html>